<body>
  <div class="container">

    <!-- modal examples -->
    <div class="modExample">

    <div id="myModal5" class="modal" data-easein="flipBounceYIn"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="user_photo_div">
              <img class="user_img" src="https://i.ytimg.com/vi/UaV_C-SO4tU/maxresdefault.jpg">
            </div>
            <div class="user_name_div">
              <h3 class="user">Franz Palngipang</h3>
            </div>
            <div class="body-text">
              <h2 class="tweet_text">Lantern Parade 2015 is so fun. A night full of lights. fantastic! #lantern2015</h2>
            </div>
          </div>
          <div class="modal-body">
            <div class="body-img">
              <img class="tweet_img" src="https://i.ytimg.com/vi/UaV_C-SO4tU/maxresdefault.jpg">
            </div>

          </div>
          <div class="modal-footer">

        </div>
      </div>
      </div>
    </div>
    </div>


</div><!-- end of container -->


      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js'></script>
      <script src="js/index.js"></script>
      <script type="text/javascript">

  </script>
</body>
